*{
    font-family: 'Poppins', sans-serif;
    /* background-color: bisque; */
}
body{
    background-color: bisque;
}
.center{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    
}
.current-weather{
    border: double;
    border-width: small;
    margin: 10px;
    background-color: rgb(255, 220, 177);
    left: 1;
    width: 50vh;

}
#icon-container{
    flex-direction: row;
    display: flex;
    border: 2px solid black;
    width: 100%;
    padding-right: 50px;
    margin-top: 50px;
    position: absolute;
}
#icons{
    margin: 20px;
    display: flex;
    border: solid;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-around;
  
}