*{
    font-family: 'Poppins', sans-serif;
}
.center{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
    
}
.current-weather{
    border: double;
    border-width: small;
    width: 90%;

}
#icons{
    flex-direction: row;
    display: flex;
}