*{
    font-family: 'Poppins', sans-serif;
    /* background-color: bisque; */
}
body{
    background-color: bisque;
}
.center{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    
}
.current-weather{
    border: double;
    border-width: small;
    margin: 10px;
    background-color: rgb(255, 220, 177);

}
#icons{
    flex-direction: row;
    display: flex;
}